<div class="text">This API is designed to collect image data gathered by NASA's Curiosity rover on Mars and make it more easily available to other developers, educators, and citizen scientists.</div>

<div class="text">Photos can be found by both the sol on which they were taken by Curiosity, and by the camera with which they were taken. There are seven cameras aboard Curiosity. The Front Hazard Avoidance camera (FHAZ), Read Hazard Avoidance camera (FHAZ), Chemistry and Camera complex (CHEMCAM), Navigation cameras (NAVCAM), Mast Camera (MASTCAM), Mars Hand Lens Imager (MAHLI), and the Mars Descent Imager (MARDI).</div>

<div class="text">There are <%= Photo.count %> photos in this collection from <%= Photo.order("sol DESC").first.sol %> sols of Curiosity exploring the Red Planet. You can enter a number from 0 to <%= Photo.order("sol DESC").first.sol %> to view the photos from that sol from any of Curosity's cameras. The API can also be queried in the following format, with a format of either JSON or HTML:

<p>http://mars-curiosity-api.herokuapp.com/photos.&lt;FORMAT&gt;/?sol=&lt;MARTIAN_SOL&gt;&amp;camera=&lt;CAMERA_NAME&gt;</p><div>

<%= form_tag photos_path, method: :get do %>
  <div>
    <%= label_tag :sol %>
    <%= text_field_tag :sol %>
  </div>

  <div>
    <%= label_tag :camera %>
    <%= select_tag(:camera, options_for_select([["FHAZ", "FHAZ"], ["RHAZ", "RHAZ"],
                                               ["CHEMCAM", "CHEMCAM"], ["NAV", "NAV"],
                                               ["MARDI", "MARDI"], ["MAHLI", "MAHLI"], ["MAST", "MAST"]])) %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<% if !@photos.blank? %>
  <% @photos.each do |photo| %>
    <div>
      <%= "Taken on sol #{photo.sol} (approximate Earth date: #{photo.earth_date}) with the #{photo.camera} camera" %>
    </div>
    <div>
      <%= link_to (image_tag photo.img_src), photo_path(photo) %>
    </div>
  <% end %>
<% else %>
  <div class="text">No photos found with these parameters</div>
<% end %>
