<%= form_tag photos_path, method: :get do %>
  <div>
    <%= label_tag :sol %>
    <%= text_field_tag :sol %>
  </div>

  <div>
    <%= label_tag :camera %>
    <%= select_tag(:camera, options_for_select([["FHAZ", "FHAZ"], ["RHAZ", "RHAZ"],
                                               ["CHEMCAM", "CHEMCAM"], ["NAV", "NAV"],
                                               ["MARDI", "MARDI"], ["MAHLI", "MAHLI"], ["MAST", "MAST"]])) %>
  </div>

  <%= submit_tag "Search" %>
<% end %>

<% if !@photos.empty? %>
  <div>
    <%= "Taken on sol #{@photos.first.sol}" %>
  </div>
  <div>
    <%= "Taken with the #{@photos.first.camera} camera" %>
  </div>

  <% @photos.each do |photo| %>
    <div>
      <%= link_to (image_tag photo.img_src), photo_path(photo) %>
    </div>
  <% end %>
<% else %>
  No photos found with these parameters
<% end %>
